* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.start-block {
    display: flex;
    height: calc(100vh - 60px);
    align-items: center;
    justify-content: center;
    background-color: #6458FF;
    color: #ffffff;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.sub-text {
    padding-bottom: 20px;
    letter-spacing: 3px;
    font-size: 16px;
}

.title {
    font-size: 48px;
}

.description {
    margin-top: 18px;
    font-size: 18px;
    color: #fff;
}

.btn {
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: #fff;
    color: #000;
    padding: 15px 25px;
    font-weight: bold;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 60px;
    background-color: #fff;
}

.header__logo {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.header__ul {
    display: flex;
    flex-direction: row;
}

.header__li {
    cursor: pointer;
    margin-left: 30px;
    list-style: none;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1D1D1B;
    padding: 80px 0;
    text-align: left;
}

.about__block {
    width: 70%;
}

.about__sub-text {
    color: #6458FF;
}

.about__title {
    color: #6458FF;
}

.price {
    display: flex;
    padding: 80px 60px;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.price__title {
    color: #000;
}

.price__description {
    color: #000;
}

table {
    border: 1px solid #ccc;  /* граница всей таблицы */
    width: 100%;
    margin-top: 20px;
}
tr {
    border: 1px solid #ccc;  /* границы между строками */
}
td, th {
    border: 1px solid #ccc;  /* границы между столбцами */
    text-align: center;
}

.header__inst {
    width: 20px;
    height: 20px;
}

.header__inst img {
    width: 100%;
    height: 100%;
}